@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);

@import url(https://db.onlinewebfonts.com/c/5645b7453bd2df2bf9eb77e589a4afd8?family=PolySans+Bulky);
@import url(https://db.onlinewebfonts.com/c/3e474a09226e19ab5228436820318a72?family=PolySans+Bulky+Wide);

@import url(https://db.onlinewebfonts.com/c/03bd7255184e8e8ad4d2a521fa920b6c?family=PolySans+Neutral);
@import url(https://db.onlinewebfonts.com/c/e11df7e4dd48a1610e5daa2afb643b75?family=PolySans+Neutral+Wide);

@import url(https://db.onlinewebfonts.com/c/cec88e5a4cf367c4620cd23c5a184439?family=PolySans+Median);

@import url(https://db.onlinewebfonts.com/c/d8a4964eec2c4a693d6722609068043c?family=PolySans+Slim);

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: #864af9;
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: #3d30a2;
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --vp-font-family-base: "PolySans Neutral Wide";

  --vp-font-family-bold: "PolySans Bulky";
  --vp-font-family-bold-wide: "PolySans Bulky Wide";
  --vp-font-family-semibold: "PolySans Median";
  --vp-font-family-regular: "PolySans Neutral";
  --vp-font-family-regular-wide: "PolySans Neutral Wide";
  --vp-font-family-light: "PolySans Slim";

  --vp-font-family-mono: "Space Mono";
}

.dark {
  --vp-c-brand-1: #fdde55;
  --vp-c-bg: rgb(26, 26, 26);
  --vp-c-bg-alt: rgb(23, 23, 23);
  --vp-c-bg-nav: rgba(23, 23, 23, 0.8);
  --vp-c-bg-mark: rgb(0, 0, 0);
  --vp-button-brand-bg: var(--vp-c-brand-dark);
  --vp-button-alt-bg: #484848;
  --vp-button-alt-text: #f0eeee;
  --vp-button-alt-hover-bg: #484848;
  --vp-button-alt-hover-text: #f0eeee;
  --vp-custom-block-info-bg: rgba(84, 110, 155, 0.1);
  --vp-custom-block-info-border: #3686b1;
  --vp-custom-block-info-text: #52b0e3;
  --vp-custom-block-info-text-deep: #00b7ff;
  --vp-custom-block-tip-bg: rgba(51, 130, 118, 0.1);
  --vp-custom-block-tip-border: rgba(4, 120, 87, 1);
  --vp-custom-block-tip-text: rgb(25, 190, 129);
  --vp-custom-block-tip-text-deep: rgba(52, 211, 153, 1);
  --vp-custom-block-warning-bg: rgba(253, 224, 71, 0.1);
  --vp-custom-block-warning-border: rgba(202, 138, 4, 1);
  --vp-custom-block-warning-text: rgba(234, 179, 8, 1);
  --vp-custom-block-warning-text-deep: rgba(250, 204, 21, 1);
  --vp-custom-block-danger-bg: rgba(239, 68, 68, 0.1);
  --vp-custom-block-danger-border: rgba(127, 29, 29, 1);
  --vp-custom-block-danger-text: rgba(248, 113, 113, 1);
  --vp-custom-block-danger-text-deep: rgba(248, 113, 113, 1);
  --vp-code-block-bg: rgba(0, 0, 0, 0.3);
  --vp-c-gutter: rgba(84, 84, 84, 0.48);
  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
  --vp-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
  --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
  --vp-c-bg-mute: #2d2d2d;
  --vp-c-kbd-box-outside-shadow: -1px -1px 1px #505050, 1px 1px 6px #000;
  --vp-c-kbd-box-inside-shadow: inset 1px 1px 3px #000, inset -3px -3px 6px #505050;
}

/**
  * Custom Theme
  * -------------------------------------------------------------------------- */

main img {
  width: 100% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

img.VPImage {
  width: auto !important;
  display: block;
}

.vp-doc h2 {
  margin: 16px 0 16px;
  border-top: none !important;
}

/**
 * Custom Theme (Light Mode) Override
 * -------------------------------------------------------------------------- */

h1,
h2,
h3,
.group > .item > .label,
.custom-block .custom-block-title {
  font-family: var(--vp-font-family-bold) !important;
}

h4,
h5,
a > p,
.level-1 {
  font-family: var(--vp-font-family-regular) !important;
}

p,
ul,
li {
  font-family: var(--vp-font-family-light) !important;
}

strong,
em {
  font-family: var(--vp-font-family-semibold) !important;
  color: var(--vp-c-brand-1) !important;
}

/**
 * Custom Theme (Dark Mode) Override
 * -------------------------------------------------------------------------- */

html.dark strong,
em {
  color: #fdde55;
}

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(45deg, #864af9 50%, #f8e559);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
